**/.env
dict/ubertext_freq.csv
dict/ubertext_freq.csv.xz
.DS_Store
dict/generated/*
deduplication/start_data/*
deduplication/end_data/*
deduplication/unique_documents/**/*.txt
deduplication/unique_documents/*.zip
deduplication/unique_documents/2024-court-decisions.parquet
ner-uk/*